# 区间分组
- qcut()
- cut()
## 什么是数据离散化？
- 连续属性的离散化就是将连续属性的值域上，将值域分成若干个离散的区间，最后用不同的符号或整数值代表不同的区间

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
stock_day = pd.read_csv('stock_day.csv', usecols=['p_change'])

In [16]:
p_change = stock_day['p_change']

In [18]:
p_change.head()

2018-02-27    2.68
2018-02-26    3.02
2018-02-23    2.42
2018-02-22    1.64
2018-02-14    2.05
Name: p_change, dtype: float64

# 自动分组
- qcut(x,q)
- x 数据
- q 分组多少组

In [24]:
qcut = pd.qcut(p_change, 10)

In [25]:
# 统计各个区间出现多少次b
qcut.value_counts()

(5.27, 10.03]                    65
(0.26, 0.94]                     65
(-0.462, 0.26]                   65
(-10.030999999999999, -4.836]    65
(2.938, 5.27]                    64
(1.738, 2.938]                   64
(-1.352, -0.462]                 64
(-2.444, -1.352]                 64
(-4.836, -2.444]                 64
(0.94, 1.738]                    63
Name: p_change, dtype: int64

## 自定义区间
- pd.cut(x, bins)
- x　要进行离散的数据
- bins 自定义的分组

In [28]:
bins = [-100, -7, -5, -3, 0, 3, 5, 7, 100]
p_counts = pd.cut(p_change, bins)

In [31]:
p_counts.value_counts()

(0, 3]        215
(-3, 0]       188
(3, 5]         57
(-5, -3]       51
(7, 100]       35
(5, 7]         35
(-100, -7]     34
(-7, -5]       28
Name: p_change, dtype: int64

# one-host 编码
- pandas.get_dummies(data, prefix)
- data: 要进行处理的数据
- prefix: 分组的名字

In [34]:
dummies = pd.get_dummies(qcut, prefix='rise')

In [37]:
dummies

,"rise_(-10.030999999999999, -4.836]","rise_(-4.836, -2.444]","rise_(-2.444, -1.352]","rise_(-1.352, -0.462]","rise_(-0.462, 0.26]","rise_(0.26, 0.94]","rise_(0.94, 1.738]","rise_(1.738, 2.938]","rise_(2.938, 5.27]","rise_(5.27, 10.03]"
2018-02-27,0,0,0,0,0,0,0,1,0,0
2018-02-26,0,0,0,0,0,0,0,0,1,0
2018-02-23,0,0,0,0,0,0,0,1,0,0
2018-02-22,0,0,0,0,0,0,1,0,0,0
2018-02-14,0,0,0,0,0,0,0,1,0,0
2018-02-13,0,0,0,0,0,0,1,0,0,0
2018-02-12,0,0,0,0,0,0,0,0,1,0
2018-02-09,1,0,0,0,0,0,0,0,0,0
2018-02-08,0,0,0,0,0,1,0,0,0,0
2018-02-07,0,0,1,0,0,0,0,0,0,0
2018-02-06,0,1,0,0,0,0,0,0,0,0
2018-02-05,0,0,0,0,0,0,0,1,0,0
2018-02-02,0,0,0,0,0,1,0,0,0,0
2018-02-01,1,0,0,0,0,0,0,0,0,0
2018-01-31,0,0,0,0,1,0,0,0,0,0
2018-01-30,0,0,0,0,1,0,0,0,0,0
2018-01-29,0,1,0,0,0,0,0,0,0,0
2018-01-26,0,0,0,0,0,1,0,0,0,0
2018-01-25,0,1,0,0,0,0,0,0,0,0
2018-01-24,0,0,0,1,0,0,0,0,0,0
2018-01-23,0,0,0,0,0,0,1,0,0,0
2018-01-22,0,0,0,0,1,0,0,0,0,0
2018-01-19,0,0,0,0,0,0,0,1,0,0
2018-01-18,0,0,0,0,1,0,0,0,0,0
2018-01-17,0,0,0,0,0,1,0,0,0,0
2018-01-16,0,0,0,0,0,0,0,0,1,0
2018-01-15,0,1,0,0,0,0,0,0,0,0
2018-01-12,0,0,0,0,0,0,0,1,0,0
2018-01-11,0,0,0,1,0,0,0,0,0,0
2018-01-10,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
2015-04-13,0,0,0,0,0,0,0,0,0,1
2015-04-10,0,0,0,1,0,0,0,0,0,0
2015-04-09,0,0,0,0,0,0,0,0,0,1
2015-04-08,0,0,0,0,0,0,0,0,1,0
2015-04-07,0,0,0,0,0,0,0,0,0,1
2015-04-03,0,0,0,0,0,0,1,0,0,0
2015-04-02,0,0,0,0,0,1,0,0,0,0
2015-04-01,0,0,0,0,0,1,0,0,0,0
2015-03-31,0,0,1,0,0,0,0,0,0,0
2015-03-30,0,0,0,0,0,0,0,0,1,0
2015-03-27,0,0,0,0,0,0,0,0,0,1
2015-03-26,0,0,1,0,0,0,0,0,0,0
2015-03-25,0,0,1,0,0,0,0,0,0,0
2015-03-24,0,0,0,0,0,0,0,1,0,0
2015-03-23,0,0,0,0,1,0,0,0,0,0
2015-03-20,0,0,0,0,1,0,0,0,0,0
2015-03-19,0,0,0,0,0,1,0,0,0,0
2015-03-18,0,0,0,0,0,1,0,0,0,0
2015-03-17,0,0,0,0,0,0,0,1,0,0
2015-03-16,0,0,0,0,0,0,0,1,0,0
2015-03-13,0,0,0,0,0,0,0,1,0,0
2015-03-12,0,0,0,1,0,0,0,0,0,0
2015-03-11,0,0,1,0,0,0,0,0,0,0
2015-03-10,0,0,0,0,0,0,0,1,0,0
2015-03-09,0,0,0,0,1,0,0,0,0,0
2015-03-06,0,0,0,0,0,0,0,0,0,1
2015-03-05,0,0,0,0,0,0,0,1,0,0
2015-03-04,0,0,0,0,0,0,1,0,0,0
2015-03-03,0,0,0,0,0,0,1,0,0,0
2015-03-02,0,0,0,0,0,0,0,1,0,0

In [38]:
pd.get_dummies?